/*Variables*/
$font-one: 'Montserrat', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Source Serif Pro', serif;
$font-four: 'Lobster Two', cursive;
$color-yellow: #fed136;
$transition: all 1s;

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation*/
.header {
    height: 75vh;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    background-image: url("../images/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header::before {
    position: absolute;
    content: "";
    background-color: #222;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.navigation {
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    display: inline-block;
    margin: 0 18px;
    padding-top: 10px;
    a {
        font-family: $font-one;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}
.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.header-title {
    font-family: $font-three;
    font-style: italic;
    font-weight: 400;
}
.header-subtitle {
    font-family: $font-one;
    font-weight: 700;
    margin-top: 20px;
}
.logo {
    font-family: $font-four;
    font-size: 26px;
    font-style: italic;
    color: $color-yellow;
    font-weight: 400;
    padding-right: 150px;
}
.button {
    width: 240px;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    background-color: $color-yellow;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
/*Services*/
.services {
    padding: 96px 0;
    text-align: center;
    font-family: $font-one;
    .row {
        margin: 0 60px;
    }
    i {
        font-size: 36px;
        text-align: center;
        padding: 10px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 3px solid $color-yellow;
        color: $color-yellow;
    }
    h1 {
        font-size: 40px;
        padding: 15px 0;;
    }
    p {
        padding-bottom: 15px;
    }
}
.main-text {
    color: #555;
    margin-bottom: 75px;
    font-size: 16px;
    font-style: italic;
}
.box-title {
    padding: 25px 0;
}
.box {
    p {
        color: #555;
        font-size: 14px;
    }
}

/*Portfolio*/
.portfolio {
    padding: 96px;
    background: #f7f7f7;
    text-align: center;
    h1 {
        font-size: 40px;
        padding: 15px 0;
        font-family: $font-one;
    }
}

.box-description {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-family: $font-one;
    p {
        font-family: $font-three;
        font-style: italic;
        color: #555;
        font-size: 14px;
    }
}
.box-image {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.portfolio-description {
    color: #555;
    margin-bottom: 75px;
    font-size: 16px;
    font-style: italic;
    font-family: $font-one;
}

/*Footer*/
.page-footer {
    padding: 25px 0;
    li {
        display: inline-block;
        position: relative;
        font-size: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        }
    i {
        font-size: 20px;
        text-align: center;
        position: absolute;
        padding: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        color: #fff;
    }
    .row {
        text-align: center;
    }
}
.footer-copyright {
    text-align: center;
    padding-top: 25px;
    font-family: $font-one;
    font-size: 12px;
    color: #555;
    font-weight: 700;
}

/*Media*/
@media (max-width: 767px) {
    .logo {
    text-align: center;
    padding-right: 0;
    }
    .welcome {
        font-size: 18px;
    }
    .button {
        width: 180px;
        height: 40px;
    }
}