/*Variables*/

$font-one: 'Montserrat', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Source Serif Pro', serif;
$font-four: 'Lobster Two', cursive;

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}